html,body {width:800px;margin-left:5%;margin-right:auto;margin-top:2%;background-color:#fafff3;}
a {color:#000000;}
html,body,p,dl,dt,dd,li,ul,.highlight {font-family:'Palatino ','Book Antiqua','DejaVu Serif';}
h1 {font-family:'Palatino Linotype','Verdana','Arial',sans-serif;font-size:28pt;line-height:1.1em;}
h2 {font-family:'Palatino Linotype','Verdana','Arial',sans-serif;font-size:18pt;line-height:1.1em;}
h3 {font-family:'Palatino Linotype','Verdana','Arial',sans-serif;font-size:15pt;line-height:1.1em;}
dt {color:#444444;font-size:10pt;}
